<!-- Three -->
<section id="{{ include.section.section_id }}" class="wrapper {{ include.section.background_style }} special">
    <header class="major">
        <h2>{{ include.section.title | newline_to_br }}</h2>
        {{ include.section.subtitle | markdownify }}
    </header>
    {% if include.section.actions %}
        <ul class="actions special">
            {% for action in include.section.actions %}
                <li><a href="{% assign expr_1 = action.url | starts_with: '#' %}{% if expr_1 %}{{ action.url }}{% else %}{{ action.url | link | relative_url }}{% endif %}" class="button{% if action.is_primary %} primary{% endif %}{% if action.icon %} icon {{ action.icon }}{% endif %}{% if action.is_scrolly %} scrolly{% endif %}">{{ action.label }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
